.imgThumb {
  display: inline-block;
  border: 1px solid #f4f4f4;
}

.imgThumb:hover {
  display: inline-block;
  border: 1px solid black;
}

.thumbDesc {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 5px 0 5px;
}

.imgCenterInner {
  padding-left: auto;
  padding-right: auto;
}

.imgCenterOuter {
  text-align: center;
  display: block;
}




.thumb1imgs {

}

.thumb1imgsRescale {
  display: inline-block;
  width: auto;
  height: 465px;
  max-width: 830px;
  max-height: 465px;
}




.thumb2imgs {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 410px;
  max-width: 410px;
}

.thumb2imgsLeft {
  margin-left: 0px !important;
}

.thumb2imgsRight {
  margin-right: 0px !important;
}

.thumb2imgsRescale {
  display: inline-block;
  width: auto;
  height: 308px;
  max-width: 410px;
  max-height: 308px;
}




.thumb3imgs {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 270px;
  max-width: 270px;
}

.thumb3imgsLeft {
  margin-left: 0px !important;
}

.thumb3imgsRight {
  margin-right: 0px !important;
}

.thumb3imgsRescale {
  display: inline-block;
  width: auto;
  height: 203px;
  max-width: 270px;
  max-height: 203px;
}




.thumb5imgs {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 158px;
  max-width: 158px;
}

.thumb5imgsLeft {
  margin-left: 0px !important;
}

.thumb5imgsRight {
  margin-right: 0px !important;
}

.thumb5imgsRescale {
  display: inline-block;
  width: auto;
  height: 119px;
  max-width: 158px;
  max-height: 119px;
}

/*  5: 50 spacing;
    3: 26 spacing;
    2: 14 spacing;
    1: 2  spacing;

    5: 156x117 => 830
    3: 268x201 => 830
    2: 408x306 => 830
    1: 828x465 => 830

    5: 4x3
    3: 4x3
    2: 4x3
    1: 16x9
*/
