.imgThumb img {
  display: inline-block;
  border: 1px solid #f4f4f4;
}

.imgThumb:hover img {
  display: inline-block;
  border: 1px solid black;
}




.thumb1imgs {
  height: auto;
  width: auto;
  max-width: 828px;
  max-height: 621px;
}




.thumb2imgs {
  height: auto;
  width: auto;
  max-width: 408px;
  max-height: 306px;

  padding-right: 5px;
  padding-left: 5px;
}

.thumb2imgsleft {
  padding-left: 0px !important;
}

.thumb2imgsright {
  padding-right: 0px !important;
}




.thumb3imgs {
  height: auto;
  width: auto;
  max-width: 268px;
  max-height: 201px;

  padding-right: 5px;
  padding-left: 5px;
}

.thumb3imgsleft {
  padding-left: 0px !important;
}

.thumb3imgsright {
  padding-right: 0px !important;
}




.thumb5imgs {
  height: auto;
  width: auto;
  max-width: 156px;
  max-height: 117px;

  padding-right: 5px;
  padding-left: 5px;
}

.thumb5imgsleft {
  padding-left: 0px !important;

}

.thumb5imgsright {
  padding-right: 0px !important;

}

/*  5: 50 spacing;
    3: 26 spacing;
    2: 14 spacing;
    1: 2  spacing;

    5: 156x117 => 830
    3: 268x201 => 830
    2: 408x306 => 830
    1: 828x621 => 830
*/
